<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683599920853-4u18bot5ri97ehimbf325usf79f3v7o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683599920853-4u18bot5ri97ehimbf325usf79f3v7o8</string>
	<key>API_KEY</key>
	<string>AIzaSyCmCclwgDtNoYkW5L3Ny59YMhgsgGfBYbk</string>
	<key>GCM_SENDER_ID</key>
	<string>683599920853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.Project</string>
	<key>PROJECT_ID</key>
	<string>greencoffee-645e9</string>
	<key>STORAGE_BUCKET</key>
	<string>greencoffee-645e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683599920853:ios:fd5d64d6429b7d36a52c5c</string>
</dict>
</plist>